/*
 * Global styles
 */
$body-bg: white;
$text-color: black;
$text-disabled-color: #d8d8d8;
$text-secondary-color: #d8d8d8;
$link-color: #9ac2e7;
$link-hover-color: darken($link-color, 15%);
$link-js-color: #d8d8d8;
$link-js-hover-color: darken($link-js-color, 30%);

$item-selected-bg: #428bca;
$item-selected-fg: white;
$item-hover-bg: #f5f5f5;
$item-hover-fg: inherit;
$item-disabled-fg: #afafaf;
$item-disabled-bg: inherit;
$item-nodata-fg: #d8d8d8;
$item-nodata-bg: inherit;
$item-with-error-fg: #a94442;
$item-with-error-bg: inherit;

/*
 * Inputs styling
 */
 $input-placeholder-fg: #ddd;
 $input-border-focus-color: #66afe9;
 $input-border-radius: 3px;
 $input-border-color: #d8d8d8;

/*
 * Grid layout main column width
 */
$layout-width: 800px;


/*
 * Header settings
 */
$header-height: 40px;
$top-menu-bg: #4a484c;
$top-menu-fg: #e4e4e4;

/*
 * Footer settings
 */
$footer-bg: #4a484c;
$footer-fg: #848484;
$footer-link-color: #9ac2e7;
$footer-height: 50px;


// Smart Tree Table settings
$stt-selected-bg: $item-selected-bg;
$stt-selected-fg: $item-selected-fg;
$stt-hover-bg: $item-hover-bg;
$stt-hover-fg: $item-hover-fg;
$stt-drag-over-bg: $item-hover-bg;
$stt-drag-over-fg: $item-hover-fg;

