/*
 * Global styles
 */
$link_color: #9ac2e7;

/*
 * Grid layout main column width
 */
$layout-width: 800px;


/*
 * Header settings
 */
$header-height: 40px;
$top-menu-bg: #4a484c;
$top-menu-fg: #e4e4e4;

/*
 * Footer settings
 */
$footer-bg: #4a484c;
$footer-fg: #848484;
$footer-link-color: #9ac2e7;
$footer-height: 50px;