<% page_title "Roles" %>

<%= partial "admin/users/tabs" %>

<%
    table Role.all do
        column :slug, label: "ID" do |row|
            link_to_modal_if_can "#{row.id}/edit", row.slug.to_s
        end
        column :name
        column :actions, label: '' do |row|
            link_to_modal_if_can "#{row.id}/delete", icon_delete
        end
    end
%>

<div class="table-actions">
    <%= link_to_modal_if_can 'new', icon("fa-plus")+" Create role", class: "btn btn-default" %>
</div>
