<% page_title "Users" %>

<%= partial "admin/users/tabs" %>


<%
    table User.all do
        column :authentications, label: '' do |u|
            u.authentications.map{|a| auth_provider_as_icon a.provider }.join
        end
        column :full_name do |u|
            if can? "#{u.id}/edit"
                link_to_modal "#{u.id}/edit", h( u.full_name )
                # tag :a, 'helllo', 'data-toggle' => 'modal', 'data-target' => '#myModal'
            else
                h u.full_name
            end
        end
        column :email do |u|
            email = u.emails.first
            h( email.email)+" "+user_email_confirmed_as_icon( email )
        end
        column :roles do |u|
            u.roles.map{|v| v.to_s}.join(", ")
        end
        column :actions, label: '' do |u|
            link_to_modal "#{u.id}/delete", icon_delete
        end
    end
%>

<div class="table-actions">
    <%= link_to_modal 'new', icon("fa-plus")+" Create user", class: "btn btn-default" %>
</div>
