<li <%= request.path_info.starts_with?(menu_item.url) ? 'class="active"' : '' %> >
    <%= link_to_if_can menu_item.url,
        ( menu_item.icon ? icon(menu_item.icon)+" "+menu_item.human_label : menu_item.human_label )
    %>
</li>