#ajax-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;
    // width: 50%;
    // height: 50%;

    .ajax-indicator-inner {
        // font-size: 36px;
        height: 72px;
        width: 72px;
        background: #111;
        opacity: 0.7;
        color: white;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
        @extend .center-absolutely;
        // top: 50%;

    }
}

