/* Sticky footer styles
-------------------------------------------------- */
html,
body {min-height:100%; padding:0; margin:0;}
body {
  padding: $header-height 0 $footer-height 0;
  position:absolute;
  top:0; bottom:0; left:0; right:0;
}

#page-content {
  min-height:100%;
  padding: $padding-large-vertical 15px $padding-large-vertical;
}


#footer {
  margin-bottom: -$footer-height;
  height: $footer-height;
  width: 100%;
  color: $footer-fg;
  background-color: $footer-bg;

  #footer-contents {
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: middle;
    line-height: $footer-height;
    A {
      color: $footer-link-color;
    }
  }
}

