<% page_title t.aerogel.admin.panes.users_access %>

<%= partial "admin/users/tabs" %>

<%
    table Access.all do
        column :path do |row|
            link_to_modal_if_can "#{row.id}/edit", h( row.path )
        end
        column :access
        column :role
        column :actions, label: '' do |row|
            link_to_modal_if_can "#{row.id}/delete", icon_delete
        end
    end
%>


<div class="table-actions">
    <%= link_to_modal_if_can 'new',
        icon("fa-plus")+" "+t.aerogel.admin.actions.users_access.create.to_s, class: "btn btn-default"
    %>
</div>
